#landing-header {
  min-height: 100vh;
  max-height: 1000px;
  display: flex;
  align-items: center;

  .container {
    padding-top: 12vh;
    padding-bottom: 40px;

    h1 {
      font-weight: 400;
      margin-bottom: 30px;
    }

    p {
      font-weight: 300;
      font-size: 14px;
    }
  }
}
