@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap");
.btn {
  border: none;
  position: relative;
  display: inline-block;
  font-weight: 400;
  overflow: hidden;
  margin: 4px 1px;
  padding: 11px 40px;
  border-radius: 6px;
  line-height: 19px;
  font-size: 14px;
  color: #fff;
  transition: all 0.15s ease 0s; }
  .btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important; }
  .btn:hover {
    transform: translateY(-1px); }
  .btn.btn-lg {
    padding: 15px 48px; }
  .btn.btn-round {
    border-radius: 30px; }

.btn-primary {
  background: #1d8cf8;
  background-image: linear-gradient(to bottom left, #1d8cf8, #3358f4, #1d8cf8);
  background-size: 210% 210%;
  background-position: 100% 0; }

.btn-secondary {
  background: #00b290;
  background-image: linear-gradient(to bottom left, #00f2c3, #0098f0, #00f2c3);
  background-size: 210% 210%;
  background-position: 100% 0; }

.card {
  background: #1f2251;
  border: 0;
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  margin-top: 30px; }
  .card .card-header {
    border: 0;
    background-color: #1d8cf8;
    margin-bottom: 20px; }
    .card .card-header h4 {
      margin: 5px 0;
      font-weight: 600;
      font-size: 18px;
      text-align: center; }
  .card .card-body {
    padding: 15px; }
  .card .card-footer {
    border: 0;
    margin: 15px 0 10px;
    padding: 15px;
    background-color: #1f2251; }

.form .input-group {
  margin-bottom: 10px; }
  .form .input-group.focus .input-group-prepend .input-group-icon {
    border-color: #1d8cf8; }
  .form .input-group.focus .form-control {
    border-color: #1d8cf8; }
  .form .input-group .input-group-prepend {
    margin-right: 0; }
    .form .input-group .input-group-prepend .input-group-icon {
      padding: 10px 0 10px 18px;
      border: 1px solid #2b3553;
      border-right: none;
      border-radius: 7px 0 0 7px;
      display: flex;
      align-items: center;
      transition: all 0.3s ease 0s; }
      .form .input-group .input-group-prepend .input-group-icon .material-icons-outlined {
        opacity: 0.5;
        width: 17px;
        font-size: 18px; }
  .form .input-group .form-control {
    border: 1px solid #2b3553;
    background-color: transparent;
    border-left: none;
    border-radius: 0 7px 7px 0;
    padding: 10px 18px;
    font-size: 12px;
    height: 40px;
    box-shadow: none;
    color: #fff;
    transition: all 0.3s ease 0s; }
    .form .input-group .form-control::placeholder {
      opacity: 0.8; }

#navbar {
  background-color: transparent;
  padding: 25px 15px 15px; }
  #navbar .navbar-brand {
    font-size: 18px;
    font-weight: 600; }
  #navbar .nav-item {
    padding: 0 10px; }
    #navbar .nav-item .nav-link {
      font-size: 14px;
      font-weight: 300;
      color: #fff;
      transition: all 0.3s ease 0s; }
      #navbar .nav-item .nav-link:hover {
        opacity: 0.8; }

#landing-header {
  min-height: 100vh;
  max-height: 1000px;
  display: flex;
  align-items: center; }
  #landing-header .container {
    padding-top: 12vh;
    padding-bottom: 40px; }
    #landing-header .container h1 {
      font-weight: 400;
      margin-bottom: 30px; }
    #landing-header .container p {
      font-weight: 300;
      font-size: 14px;
      margin-bottom: 30px; }

#auth {
  min-height: 100vh;
  max-height: 999px;
  display: flex;
  align-items: center; }
  #auth .container {
    padding-top: 12vh;
    padding-bottom: 40px; }

body {
  background-color: #171941 !important;
  font-family: 'Poppins', sans-serif;
  color: #fff; }
