.btn {
  border: none;
  position: relative;
  display: inline-block;
  font-weight: 400;
  overflow: hidden;
  margin: 4px 1px;
  padding: 11px 40px;
  border-radius: 6px;
  line-height: 19px;
  font-size: 14px;
  color: #fff;
  @include ease-slow;

  &:focus,
  &:active {
    outline: none !important;
    box-shadow: none !important;
  }

  &:hover {
    transform: translateY(-1px);
  }

  &.btn-lg {
    padding: 15px 48px;
  }

  &.btn-round {
    border-radius: 30px;
  }
}

.btn-primary {
  background: $primary;
  background-image: linear-gradient(
    to bottom left,
    $primary,
    #3358f4,
    $primary
  );
  background-size: 210% 210%;
  background-position: 100% 0;
}

.btn-secondary {
  background: #00b290;
  background-image: linear-gradient(to bottom left, #00f2c3, #0098f0, #00f2c3);
  background-size: 210% 210%;
  background-position: 100% 0;
}
