.form {
  .input-group {
    margin-bottom: 10px;

    &.focus {
      .input-group-prepend .input-group-icon {
        border-color: $primary;
      }

      .form-control {
        border-color: $primary;
      }
    }

    .input-group-prepend {
      margin-right: 0;

      .input-group-icon {
        padding: 10px 0 10px 18px;
        border: 1px solid $border-color;
        border-right: none;
        border-radius: 7px 0 0 7px;
        display: flex;
        align-items: center;
        @include ease;

        .material-icons-outlined {
          opacity: 0.5;
          width: 17px;
          font-size: 18px;
        }
      }
    }

    .form-control {
      border: 1px solid $border-color;
      background-color: transparent;
      border-left: none;
      border-radius: 0 7px 7px 0;
      padding: 10px 18px;
      font-size: 12px;
      height: 40px;
      box-shadow: none;
      color: #fff;
      @include ease;

      &::placeholder {
        opacity: 0.8;
      }
    }
  }
}
