@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap');
@import './config';
@import './components/buttons';
@import './layout/navbar';
@import './layout/landing';

body {
  background-color: $background !important;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}
